/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/label/label.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.label_label__yLgEL{
    display: block;
    margin-bottom: 0.5rem;
    color: #a1a1a1;
    font-weight: bold;
    font-size: 1.1rem;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/input/input.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.input_input__wZsN4{
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 8px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/molecules/form.group/form.group.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.form_group_formGroup__z4iY2{
    display: flex;
    flex-direction: column;
    margin: 4px;
    width: 100%;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/button/button.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.button_button__V_0OC {
    background-color: #FFFFFF;
    border: none;
    color: #4b03a3;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    margin: 24px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/text/text.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.text_titulo1__cHDOd{
    font-size: 36px;
    line-height: 56px;
    font-weight: 600;
    color: #FFFFFF;
}

.text_titulo3__Hq2gt{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.text_price__fj6JN{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/organisms/loginForm/login.form.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.login_form_containerLoginForm__2ZKUW {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/organisms/header/header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.header_containerHeader__zDxXH{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 80px;
    background-color: #5e03ce;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/molecules/saldo/saldo.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/

