/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/label/label.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.label_label__yLgEL{
    display: block;
    margin-bottom: 0.5rem;
    color: #a1a1a1;
    font-weight: bold;
    font-size: 1.1rem;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/input/input.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.input_input__wZsN4{
    width: 100%;
    height: 48px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 8px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/molecules/form.group/form.group.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.form_group_formGroup__z4iY2{
    display: flex;
    flex-direction: column;
    margin: 4px;
    width: 100%;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/button/button.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.button_button__V_0OC {
    background-color: #0045db;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
}
.button_deposit__weQ_C{
    background-color: #4b03a3;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    margin: 24px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/atoms/text/text.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.text_titulo1__cHDOd{
    font-size: 36px;
    line-height: 56px;
    font-weight: 600;
    color: #000000;
}

.text_titulo3__Hq2gt{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}

.text_titulo4___SGdQ{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #252525;
    text-align: center;
}
.text_price__fj6JN{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #000000;
    text-align: center;
}
.text_text__nEn66{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    text-align: center;
}
.text_price__fj6JN{
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #003b7e;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/organisms/alertModal/alert.modal.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
.alert_modal_container__NghdF{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 500px;
    width: 80%;
    min-height: 350px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.alert_modal_aceptar__5hy12{
    background-color: #0045db;
    border: none;
    color: #FFFFFF;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 16px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/organisms/loginForm/login.form.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.login_form_containerLoginForm__2ZKUW {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.login_form_alertModal__Iauua{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}
.login_form_buttonRegister__AxS9N{
    background-color: #dfdfdf;
    border: none;
    color: #303030;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 16px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/templates/login/login.template.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.login_template_container__DTxas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 500px;
    width: 80%;
    min-height: 350px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/organisms/header/header.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.header_containerHeader__zDxXH{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 80px;
    background-color: #000658;
    position: fixed;
    top: 0;
    left: 0;
}
.header_titulo4__K3SF9{
    color: white;
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    text-align: end;
    margin-right: 16px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/molecules/saldo/saldo.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.saldo_title__4YQKI{
    color: white;
    font-size: 26px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-right: 16px;
}
.saldo_balance__McpZt{
    color: rgb(71, 255, 47);
    font-size: 52px;
    font-weight: 600;
    width: 100%;
    text-align: center;

}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/molecules/depositGroup/deposit.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.deposit_input__d1WTL{
    width: 100%;
    height: 48px;
    border: 1px solid #9c9c9c;
    border-radius: 16px;
    padding: 8px;
    font-size: 14px;
    margin-bottom: 16px;
}
.deposit_cancel__eFFDb{
    background-color: #dfdfdf;
    border: none;
    color: #303030;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 16px;
    cursor: pointer;
    margin-top: 16px;
}
.deposit_close__vx8Tv{
    background-color: transparent;
    border: none;
    color: #030303;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/organisms/depositModal/deposit.modal.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.deposit_modal_container___Bsdy{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    max-width: 500px;
    width: 80%;
    min-height: 350px;
    height: 400px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/organisms/dashboard/dashboard.organism.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!**********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/molecules/menuOpciones/menu.opciones.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************/
.menu_opciones_buttonGrid__xoRVr {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
}

.menu_opciones_gridButton__KhxhV {
    padding: 20px;
    font-size: 18px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu_opciones_gridButton__KhxhV:hover {
    background-color: #0088cc;
}

@media (min-width: 768px) {
    .menu_opciones_buttonGrid__xoRVr {
        grid-template-columns: repeat(4, 1fr);
    }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/templates/dashboard/dashboard.template.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************/
.dashboard_template_containerModal__D1cIQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/dashboard/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.page_mainLogin__LaU6x{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 61, 228, 0.801), rgb(0, 37, 117));
}
